House price prediction

Read the data from local source

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
import pandas as pd

data = pd.read_excel(r"C:\Users\Pravallika\OneDrive\Documents\HOUSEPP .xlsx")

In [3]:
data

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2914,160,RM,1936,Inside,Twnhs,7,1970,1970,CemntBd,0.0,546.0,NaN
2915,2915,160,RM,1894,Inside,TwnhsE,5,1970,1970,CemntBd,0.0,546.0,NaN
2916,2916,20,RL,20000,Inside,1Fam,7,1960,1996,VinylSd,0.0,1224.0,NaN
2917,2917,85,RL,10441,Inside,1Fam,5,1992,1992,HdBoard,0.0,912.0,NaN
2918,2918,60,RL,9627,Inside,1Fam,5,1993,1994,HdBoard,0.0,996.0,NaN

In [4]:
data.shape

(2919, 13)

In [5]:
data.isnull()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,False,False,False,False,False,False,False,False,False,False,False,False,True
2915,False,False,False,False,False,False,False,False,False,False,False,False,True
2916,False,False,False,False,False,False,False,False,False,False,False,False,True
2917,False,False,False,False,False,False,False,False,False,False,False,False,True
2918,False,False,False,False,False,False,False,False,False,False,False,False,True

data preprocessing

data preprocessing for to remove duplicate data and unwanted data

In [6]:
data.isnull()

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,False,False,False,False,False,False,False,False,False,False,False,False,True
2915,False,False,False,False,False,False,False,False,False,False,False,False,True
2916,False,False,False,False,False,False,False,False,False,False,False,False,True
2917,False,False,False,False,False,False,False,False,False,False,False,False,True
2918,False,False,False,False,False,False,False,False,False,False,False,False,True

In [7]:
data.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        1
BsmtFinSF2         1
TotalBsmtSF        1
SalePrice       1459
dtype: int64

In [8]:
data['SalePrice'] = data['SalePrice'].fillna(data['SalePrice'].mean())

In [9]:
data.isnull().sum()

Id              0
MSSubClass      0
MSZoning        4
LotArea         0
LotConfig       0
BldgType        0
OverallCond     0
YearBuilt       0
YearRemodAdd    0
Exterior1st     1
BsmtFinSF2      1
TotalBsmtSF     1
SalePrice       0
dtype: int64

In [10]:
data.dtypes

Id                int64
MSSubClass        int64
MSZoning         object
LotArea           int64
LotConfig        object
BldgType         object
OverallCond       int64
YearBuilt         int64
YearRemodAdd      int64
Exterior1st      object
BsmtFinSF2      float64
TotalBsmtSF     float64
SalePrice       float64
dtype: object

In [11]:
# Count integer columns
int_count = len(data.select_dtypes(include=['int', 'int64']).columns)

# Count float columns
float_count = len(data.select_dtypes(include=['float', 'float64']).columns)

object_count=len(data.select_dtypes(include=['object']).columns)

print(f"Number of integer columns: {int_count}")
print(f"Number of float columns: {float_count}")
print(f"Number of object columns: {object_count}")

Number of integer columns: 6
Number of float columns: 3
Number of object columns: 4

In [12]:
data

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.00000
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.00000
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.00000
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.00000
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2914,160,RM,1936,Inside,Twnhs,7,1970,1970,CemntBd,0.0,546.0,180921.19589
2915,2915,160,RM,1894,Inside,TwnhsE,5,1970,1970,CemntBd,0.0,546.0,180921.19589
2916,2916,20,RL,20000,Inside,1Fam,7,1960,1996,VinylSd,0.0,1224.0,180921.19589
2917,2917,85,RL,10441,Inside,1Fam,5,1992,1992,HdBoard,0.0,912.0,180921.19589
2918,2918,60,RL,9627,Inside,1Fam,5,1993,1994,HdBoard,0.0,996.0,180921.19589

In [13]:
X=data.drop(['SalePrice'],axis=1)
Y=data['SalePrice']

In [14]:
X
Y

0       208500.00000
1       181500.00000
2       223500.00000
3       140000.00000
4       250000.00000
            ...
2914    180921.19589
2915    180921.19589
2916    180921.19589
2917    180921.19589
2918    180921.19589
Name: SalePrice, Length: 2919, dtype: float64

In [15]:
data.duplicated().sum()

0

In [16]:
# Count integer columns
int_count = len(X.select_dtypes(include=['int', 'int64']).columns)

# Count float columns
float_count = len(X.select_dtypes(include=['float', 'float64']).columns)

object_count=len(X.select_dtypes(include=['object']).columns)

print(f"Number of integer columns: {int_count}")
print(f"Number of float columns: {float_count}")
print(f"Number of object columns: {object_count}")

Number of integer columns: 6
Number of float columns: 2
Number of object columns: 4

In [17]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

# to convert object type to intger type 

obj_cols = ['Id','MSSubClass','MSZoning','LotArea','LotConfig','BldgType','OverallCond','YearBuilt','YearRemodAdd','Exterior1st','BsmtFinSF2','TotalBsmtSF','SalePrice']

for i in obj_cols:
    data[i]=le.fit_transform(data[i])

In [18]:
data

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,5,3,619,4,0,4,110,53,12,0,261,413
1,1,0,3,895,2,0,7,83,26,8,0,603,340
2,2,5,3,1266,4,0,4,108,52,12,0,307,443
3,3,6,3,883,0,0,4,25,20,13,0,181,194
4,4,5,3,1670,2,0,4,107,50,12,0,504,495
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2914,13,4,23,4,3,6,77,20,5,0,69,337
2915,2915,13,4,20,4,4,4,77,20,5,0,69,337
2916,2916,0,3,1863,4,0,6,67,46,12,0,572,337
2917,2917,9,3,1090,4,0,4,99,42,6,0,300,337
2918,2918,5,3,900,4,0,4,100,44,6,0,374,337

In [19]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42,shuffle=True)

In [20]:
from sklearn.ensemble import RandomForestRegressor

model=RandomForestRegressor(n_estimators=100, random_state=42)

In [21]:
# 3. Handle categorical columns (convert to numbers)
X = pd.get_dummies(X, drop_first=True)

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

# 5. Scale numeric features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [22]:
# Scale Data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
# Train Model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, Y_train)
# Predict
Y_pred = model.predict(X_test_scaled)

In [23]:
## Evaluate the  the model and predictive the data
from sklearn.metrics import mean_squared_error
# Evaluation
print(f"MAE : {mean_absolute_error(Y_test, Y_pred):,.2f}")
print(f"RMSE: {mean_squared_error(Y_test, Y_pred, squared=False):,.2f}")
print(f"RÂ²  : {r2_score(Y_test, Y_pred):.3f}")

MAE : 12,258.41
RMSE: 28,495.58
RÂ²  : 0.772

C:\Users\Pravallika\anaconda3\Lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [24]:
input_data = (0, 40, 4, 8900, 4, 0, 5, 2010, 2003, 16, 0.0, 856.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0)
input_data_array = np.asarray(input_data).reshape(1, -1)
input_data_scaled = scaler.transform(input_data_array)
predicted_price = model.predict(input_data_scaled)
print(f"Predicted House Price: {predicted_price[0]:.2f}")

Predicted House Price: 215609.79

C:\Users\Pravallika\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(